<!-- Footer Start -->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<sly data-sly-resource="${'footer-list-1' @resourceType='newsportal/components/footer-list'}" />
			</div>

			<div class="col-lg-3 col-md-6">
				<sly data-sly-resource="${'footer-list-2' @resourceType='newsportal/components/footer-list'}" />
			</div>

			<div class="col-lg-3 col-md-6">
				<sly data-sly-resource="${'footer-list-3' @resourceType='newsportal/components/footer-list'}" />
			</div>
			
			<div class="col-lg-3 col-md-6">
				<sly data-sly-resource="${'footer-list-4' @resourceType='newsportal/components/footer-list'}" />
			</div>
		</div>
	</div>
</div>
<!-- Footer End -->

<!-- Footer Menu Start -->
<div class="footer-menu">
	<div class="container">
		<div class="f-menu">
			<a href="#">Terms of use</a>
			<a href="#">Privacy policy</a>
			<a href="#">Cookies</a>
			<a href="#">Accessibility help</a>
			<a href="#">Advertise with us</a>
			<a href="#">Contact us</a>
		</div>
	</div>
</div>
<!-- Footer Menu End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-6 copyright">
				<p>Copyright &copy; <a href="#">HTML Codex</a>. All Rights Reserved</p>
			</div>

			<div class="col-md-6 template-by">
				<p>Template By <a href="#">HTML Codex</a></p>
			</div>
		</div>
	</div>
</div>
<!-- Footer Bottom End -->