<div class="footer-widget">
	<h3 class="title">${properties.title}</h3>
	<div class="contact-info">

		<sly data-sly-test="${properties.showContent && !properties.showSubscribe}" >
           ${properties.content @context='html'}
		</sly>

		<ul data-sly-list.nav="${properties.navLinks}" data-sly-test="${!properties.showContent}">
			<sly data-sly-use.content="${nav}/jcr:content" />
			<li><a href="${nav}.html">${content.jcr:title}</a></li>
        </ul>


		<div class="social" data-sly-test="${properties.showSocialIcons}">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-linkedin-in"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>

        <div class="newsletter">
            <p data-sly-test="${properties.showContent && properties.showSubscribe}">
                ${properties.content}
            </p>
            <form data-sly-test="${properties.showSubscribe}">
                <input class="form-control" type="email" placeholder="Your email here">
                <button class="btn">Submit</button>
            </form>
        </div>

	</div>
</div>